table {
  border: 1px solid black;
  width: 100%;
}

th {
  border: 1px solid black;
  height: 50px;
  text-align: center;
}

td {
  border: 1px solid black;
  text-align: center;
}

h3 {
  text-align: center;
}

